.section-vazni__datumi{
  display: grid;
  grid-template-rows: 80% 20%;
  grid-area: vazni;
  position: relative;
}

.section-vazni__datumi:before{
  background: #e1b16a;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  content: '';
}