.Header{
  max-width: 100vh;
  position: fixed;
  grid-area: header;
  display: flex;
  flex-flow: column wrap;
}

.kategorija{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background: white;
}

.kategorija:nth-child(1){
  background: #4d5971;
  border-right: 5px solid #384154;
}

.kategorija:nth-child(2){
  background: #CE5A57;
  border-right: 5px solid #a04745;
}

.kategorija:nth-child(3){
  background: #78A5A3;
  border-right: 5px solid #57807e;
}

.kategorija:nth-child(4){
  background: #E1B16A;
  border-right: 5px solid #b1894f;
}

.header__title{
  transform: rotate(-90deg);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}