.section-znamenitosti{
  display: grid;
  grid-template-rows: 80% 20%;
  grid-area: znamenitosti;
  position: relative;
}

.section-znamenitosti:before{
  background: #78A5A3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  content: '';
}