.section-ljudi {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-area: ljudi;
  position: relative;
}

.section-ljudi:before{
  background: #CE5A57;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  content: '';
}