.section-dogadaji{
  display: grid;
  grid-template-rows: 80% 20%;
  grid-area: dogadaji;
  position: relative;
}

.section-dogadaji:before{
  background: #4d5971;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  content: '';
}