.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10% auto auto auto auto 10%;
  grid-template-areas:
  "header" 
  "dogadaji"
  "ljudi"
  "znamenitosti"
  "vazni";
  position: relative;
  color: white;
  height: 100vh;
  overflow-Y: hidden;
  background: url(./slike/z.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App:before{
  position: absolute;
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: 100%;
  content: "";
  opacity: 0.8;

}

.section{
  height: 25vh;
}

.content{
  height: 100vh;
  overflow-x: auto;
  margin-left: 45px;
}

.container{
  width: 100px !important;
}


