.Zapis {
	display: grid;
	grid-template-columns: repeat(51, 2%);
}

.Godine {
	display: grid;
	grid-template-columns: repeat(51, 2%);
  border-top: 1px white;
  border-top-style: dotted;
}

.godine__broj{
	font-size: 12px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container{
  width: 100%;
}

.paper{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(254,204,177); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.paper:after{
  content: '';

}